{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <link rel="stylesheet" href="{% static 'user.css' %}" type="text/css">

    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

    <div class="signup-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class='border-bottom mb-4'>Yuk Log In</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info">Login</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Belom punya akun? <a class='ml-2' href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>

    </div>
    
{% endblock %}