{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
    
    <h2>Anda telah log out</h2>
    <div class="signup-section">

        <div class="border-top pt-3">
            <small class="text-muted">
                <a class='ml-2' href="{% url 'login' %}">Login Lagi</a>
            </small>
        </div>

    </div>
    
{% endblock %}