{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
{% load staticfiles %}
<!-- {{ user.profile.image.url }} -->
    <div class="content-section">
      <div class="media"> 
        <img class="rounded-circle account-img rounded img-fluid" style="width: 30%;height: auto;" src="{{ pengguna.image }}">
        <div class="media-body">
          <h2 class="account-heading" style="text-align: center;">fullname : {{ pengguna.fullname }}</h2>
          <h2 class="account-heading" style="text-align: center;">date birth : {{ pengguna.date_birth }}</h2>
          <!-- <p class="text-secondary">{{ pengguna.email }}</p> -->
        </div>
      </div>
      
    </div>
{% endblock %}

