{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="signup-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class='border-bottom mb-4'>Gabung sekarang</legend>
                {{form|crispy}}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info">Sign Up</button>
            </div>
        </form>

        <div class="border-top pt-3">
            <small class="text-muted">
                Udah punya akun? <a class='ml-2' href="{% url 'login' %}">Sign In</a>
            </small>
        </div>

    </div>
    
{% endblock %}