{% extends 'base.html' %}

{% block content %}

<h1 style=" margin-bottom: 8%">U sure?</h1>
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-3 col-3">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body p-1">
                <p class="card-text text-center">{{nama}}</p>
            </div>
        </div>
    </div>

    <div class="col-lg-9 col-md-9 col-sm-9 col-9">
        <div class="card text-white bg-dark mb-3">
            <div class="card-body p-2">                            
            <p class="card-text">{{status}}</p>
            </div>
    </div>
    </div>
</div>

<form action="{% url 'statusan-yuk:tambah_status' nama status  %}" method="POST">
    {% csrf_token %}
    <input id="button-yes" type="submit" name="btn" value="yes" class='btn btn-success'>
    <a href="{% url 'statusan-yuk:statusan' %}" id="cancel" name="cancel" class="btn btn-danger">cancel</a>
</form>
    

{% endblock %}