{% extends "base.html" %}
{% load static %}
{% load staticfiles %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'home.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
<section id="section-judul">
<h1 id="header_title" style="font-family: 'Dancing Script', cursive; font-size:5rem; text-align: center; margin-bottom: 8%;">StatusanYuk</h1>
</section>


{% if user.is_authenticated %}
    <p style="color: green; font-size: x-large; text-align: center;">Hi, selamat datang {{ user.username }}.</p>
{% endif %}


<section name="status-list">
    <div class="container">
        <div class="row">
            {% if status %}
                {% for isi in status %}
                    <div class="col-lg-2 col-md-2 col-sm-2 col-2">
                        <div class="card text-white bg-{{isi.warna}} mb-3">
                            <div class="card-body p-1">
                                <p class="card-text text-center">{{isi.nama}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-9 col-md-9 col-sm-9 col-9">
                        <div class="card text-white bg-{{isi.warna}} mb-3">
                            
                            <div class="card-body p-2">                            
                            <p class="card-text">{{isi.status}}</p>
                            <p class="text-right font-weight-light">{{isi.tanggal_buat}}</p>
                            </div>
                    </div>
                    </div class="col-lg-1 col-md-1 col-sm-1 col-1">
                        <form action="{% url 'statusan-yuk:statusan' %}" method="POST" >
                            {% csrf_token %}
                            <button value="{{isi.id}}" name="color" >Color</button>
                        </form>
                    <div>

                    </div>
                {% endfor %}
            {% else %}
            <div class="alert alert-danger text-center">
                <strong>Yaw!</strong> Gada yang update nihh...
            </div>
            {% endif %}
        
    </div>

</section>

<section name="input-status" id="input-status">
    <div class="container">
        
        <form id="form" method="POST" action="{% url 'statusan-yuk:statusan'  %}">
            <h1>Update Statusmu</h1>
            {% csrf_token %}
            <div class="form-group">
            {{status_form.nama}}
            {{status_form.status }}
            </div>
            <div class="form-group row">
              <div class="col-sm-10">
                <button type="submit" id="submit" class="btn btn-primary" value="Submit">Submit</button>
              </div>
            </div>
        
            
          </form>
    </div>


</section>




{% endblock %}